h2{
    font-size: 2rem;
    text-align: center;
}

.recomendations-content h2, .news h2 {
    text-decoration: underline;
    text-transform: uppercase;
    color: #02353C;
}

.home-container{
    .banner{

        .slideshow-container {
            position: relative;

            .mySlides{
                margin: -5px;

                /* Fading animation */
                &.fade{
                    animation-name: fade;
                    animation-duration: 1.5s;
                }

                /* Number text (1/3 etc) */
                .numbertext {
                    background: rgba(0,0,0,0.5);
                    color: #f2f2f2;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0;
                }

                img{
                    aspect-ratio: 16/5;
                    object-fit: cover;
                    object-position: top;
                }

                .bottom-content{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 5px 0;
                    background: rgba(0,0,0,0.5);

                    /* Caption text */
                    .text {
                        color: #f2f2f2;
                        font-size: 15px;
                        // padding: 8px 12px;
                        width: 100%;
                        text-align: center;
                        text-shadow: 0px 0px 5px black;
                    }
    
                    .dots-container{
    
                        .dot {
                            cursor: pointer;
                            height: 10px;
                            width: 10px;
                            margin: 0 2px;
                            background-color: #bbb;
                            border-radius: 50%;
                            display: inline-block;
                            transition: background-color 0.6s ease;
                        }
                        
                        .active, .dot:hover {
                            background-color: #02353c;
                        }
                    }
                }

            }

            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                background-color: rgba(0,0,0,0.3);
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }
        }
    }

    .programs{
        background-image: url('../../../../public/images/many-students.png');
        background-position: center;
        background-size: cover;
        position: relative;
        color: white;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #02353ce0;
            z-index: 1;
        }

        .programs-content{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
            padding: 50px 10px;
            gap: 10px;

            p{
                text-align: center;
                font-size: 1.25rem;
            }
            button{
                font-size: 1rem;
                border-radius: 10px;
                padding: 10px 20px;
                background-color: #3FD0C9;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;

                span{

                    &::after{
                        content: '>';
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .recomendations{
        padding: 20px 0;
        background: linear-gradient(90deg, rgba(68,147,66,1) 0%, rgba(21,45,20,1) 100%);
        
        .recomendations-content{
            text-align: center;

            .publications{
                align-items: center;
                display: flex;
                gap: 20px;
                justify-content: center;
                padding-top: 20px;
                width: 100%;

                .video{
                    width: 100%;
                    max-width: 400px;
                    aspect-ratio: 16 / 9;
                }

                .virtuality{
                    position: relative;
                    margin-top: 2rem;

                    &::after{
                        content: 'Virtualidad';
                        position: absolute;
                        bottom: 30px;
                        left: 0;
                        padding: 5px 10px;
                        font-size: 1.56rem;
                        color: white;
                        background-color: #02353C;
                        font-weight: bold;
                        border-radius: 0 10px 10px 0;
                    }
                }
            }
        }
    }

    .news{
        padding-top: 20px;
        .news-list{
            display: flex;
            width: 100%;
            column-gap: 25px;
            padding: 10px 20px;
            list-style: none;

            .news-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding: 10px;
                border-radius: 15px;
                box-shadow: 0px 0px 8px #00000040;

                img{
                    border-radius: 15px;
                }

                .news-content{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px;

                    h4{
                        text-transform: uppercase;
                        color: #02353C;
                    }
                    p{
                        color: #02353C;
                    }
                }
                button{
                    padding: 5px 15px;
                    background-color: #2EAF7D;
                    font-weight: bold;
                    border-radius: 15px;
                    font-size: 16px;
                }
            }
        }
    }
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}