<div class="courses-container">
    <h1 class="title">Cursos Virtuales</h1>
    
    <div class="content">
        <div class="filters">
            <label class="order-by">
                Ordenar por:
                <select>
                    <option value="">Vistos recientemente</option>
                    <option value="">Nuevos primero</option>
                    <option value="">Populares primero</option>
                    <option value="">A-Z</option>
                    <option value="">Z-A</option>
                </select>
            </label>
    
            <div class="search-course">
                <input type="text" placeholder="Buscar curso">
                <i>🔍</i>
            </div>
        </div>
        <ul class="courses-list">
            @for (course of coursesList; track $index) {
                <li class="course">
                    <a routerLink="/course/{{course.id}}/lesson/1">
                        <img class="course-image" [src]="course.image" [alt]="course.title">
                        <p class="course-title">{{course.title}}</p>
                        <p class="course-description">{{course.description}}</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
